<body class="bg-lightgray">
	<div id="content" class="container-fluid">
		<div class="row pb-5">
			<section class="type-page"> <!-- Desain Game 3 -->
				<div class="banner-game" style="background:url(assets/img/detail/background.jpg)"></div>
				<div class="d-flex bg-lightgray">
					<div class="col-1 d-flex justify-content-center">
						<div class="w-50 h-100 d-flex justify-content-center bg-gray rounded">
							<i class="fas fa-power-off logo-back pb-2" onclick="backHome()"></i>
						</div>
					</div>
					<div class="col-8 pt-3">
						<div class="header">Mary Skelter 2</div>
						<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</div>
						<div class="d-flex">
							<button id="owned" class="btn btn-primary pb-1 w-25">Install</button>
							<button id="follow" class="no-button bg-lightgray mt-2 pt-1 w-25"><i class="fas fa-heart"></i> Add to wishlist</button>
						</div>
					</div>
					<div class="col-3 pt-3">
						<div class="d-flex">
							<div class="col-6">
								Developer
							</div>
							<div class="col-6">
								CubeClub
							</div>
						</div>
						<div class="d-flex">
							<div class="col-6">
								Published
							</div>
							<div class="col-6">
								5 days ago
							</div>
						</div>
						<div class="d-flex">
							<div class="col-6">
								Status
							</div>
							<div class="col-6">
								Released
							</div>
						</div>
						<div class="d-flex">
							<div class="col-6">
								Genre
							</div>
							<div class="col-6">
								Strategy
							</div>
						</div>
						<div class="d-flex">
							<div class="col-6">
								Tags
							</div>
							<div class="col-6">
								2D, Singleplayer
							</div>
						</div>
					</div>
				</div>
				<div class="w-100 d-flex pt-3 bg-lightgray">
					<div class="col-8">
						<div class="text-uppercase header-text">about this game</div>
						<div>Lorem ipsum dolor sit amet</div>
						<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in.
						<br><br>
						Reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<button class="btn btn-primary float-right">See More</button>

						<div class="tab-OS d-flex pt-3 header-text">
							<div id="tab-windows" class="text-uppercase px-4 py-3 os-tab active" onclick="switchOS('windows')">windows</div>
							<div id="tab-macos" class="text-uppercase px-4 py-3 os-tab" onclick="switchOS('macos')">mac os</div>
							<div id="tab-linux" class="text-uppercase px-4 py-3 os-tab" onclick="switchOS('linux')">linux</div>
						</div>
						<section id="desc-windows" class="w-100 pt-3 os-description active">
							<div class="w-50 pr-5">
								<p class="text-uppercase">minimum</p>
								<p>OS</p>
								<p>64-bit Windows 7, 62-bit Windows 8(8.1) or 64-bit Windows 10</p>
								<p>Processor</p>
								<p>Intel CPU Core i5-2500K 3.3GHz / AMD CPU Phenom II X4 940</p>
								<p>Memory</p>
								<p>6 GB RAM</p>
								<p>Graphics</p>
								<p>Nvidia GPU GeForce GTX 660 / AMD GPU Radeon HD 7870</p>
								<p>Storage</p>
								<p>35 GB available space</p>
							</div>
							<div class="w-50">
								<p class="text-uppercase">recommended</p>
								<p>OS</p>
								<p>64-bit Windows 7, 62-bit Windows 8(8.1) or 64-bit Windows 10</p>
								<p>Processor</p>
								<p>Intel CPU Core i7-3770 3.3GHz / AMD CPU AMD FX-8350 4Ghz </p>
								<p>Memory</p>
								<p>8 GB RAM</p>
								<p>Graphics</p>
								<p>Nvidia GPU GeForce GTX 660 / AMD GPU Radeon HD 7870</p>
								<p>Storage</p>
								<p>35 GB available space</p>
							</div>
						</section>
						<section id="desc-macos" class="w-100 pt-3 os-description">
							<div class="w-50 pr-5">
								<p class="text-uppercase">minimum</p>
								<p>OS</p>
								<p>64-bit Windows 7, 62-bit Windows 8(8.1) or 64-bit Windows 10</p>
								<p>Processor</p>
								<p>Intel CPU Core i5-2500K 3.3GHz / AMD CPU Phenom II X4 940</p>
								<p>Memory</p>
								<p>6 GB RAM</p>
								<p>Graphics</p>
								<p>Nvidia GPU GeForce GTX 660 / AMD GPU Radeon HD 7870</p>
								<p>Storage</p>
								<p>35 GB available space</p>
							</div>
							<div class="w-50">
								<p class="text-uppercase">recommended</p>
								<p>OS</p>
								<p>64-bit Windows 7, 62-bit Windows 8(8.1) or 64-bit Windows 10</p>
								<p>Processor</p>
								<p>Intel CPU Core i7-3770 3.3GHz / AMD CPU AMD FX-8350 4Ghz </p>
								<p>Memory</p>
								<p>8 GB RAM</p>
								<p>Graphics</p>
								<p>Nvidia GPU GeForce GTX 660 / AMD GPU Radeon HD 7870</p>
								<p>Storage</p>
								<p>35 GB available space</p>
							</div>
						</section>
						<section id="desc-linux" class="w-100 pt-3 os-description">
							<div class="w-50 pr-5">
								<p class="text-uppercase">minimum</p>
								<p>OS</p>
								<p>64-bit Windows 7, 62-bit Windows 8(8.1) or 64-bit Windows 10</p>
								<p>Processor</p>
								<p>Intel CPU Core i5-2500K 3.3GHz / AMD CPU Phenom II X4 940</p>
								<p>Memory</p>
								<p>6 GB RAM</p>
								<p>Graphics</p>
								<p>Nvidia GPU GeForce GTX 660 / AMD GPU Radeon HD 7870</p>
								<p>Storage</p>
								<p>35 GB available space</p>
							</div>
							<div class="w-50">
								<p class="text-uppercase">recommended</p>
								<p>OS</p>
								<p>64-bit Windows 7, 62-bit Windows 8(8.1) or 64-bit Windows 10</p>
								<p>Processor</p>
								<p>Intel CPU Core i7-3770 3.3GHz / AMD CPU AMD FX-8350 4Ghz </p>
								<p>Memory</p>
								<p>8 GB RAM</p>
								<p>Graphics</p>
								<p>Nvidia GPU GeForce GTX 660 / AMD GPU Radeon HD 7870</p>
								<p>Storage</p>
								<p>35 GB available space</p>
							</div>
						</section>
					</div>
					<div class="col-4">
						<div class="w-100 h-25 py-3">
							<div class="preview-item" style="background:url(assets/img/detail/preview1.jpg)"></div>
						</div>
						<div class="w-100 h-25 py-3">
							<div class="preview-item" style="background:url(assets/img/detail/preview2.jpg)"></div>
						</div>
						<div class="w-100 h-25 py-3">
							<div class="preview-item" style="background:url(assets/img/detail/preview3.jpg)"></div>
						</div>
					</div>
				</div>
			</section>

			<section class="type-page"> <!-- Desain Game 2 -->
				<div class="banner-game" style="background:url(assets/img/detail/background.jpg)"></div>
				<div class="d-flex bg-lightgray">
					<div class="col-1 d-flex justify-content-center">
						<div class="w-50 h-100 d-flex justify-content-center bg-gray rounded">
							<i class="fas fa-power-off logo-back pb-2" onclick="backHome()"></i>
						</div>
					</div>
					<div class="col-8 pt-3">
						<div class="header">Mary Skelter 2</div>
						<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</div>
					</div>
					<div class="col-3 pt-3">
						<button id="owned" class="btn btn-primary pb-1 w-100" >Install</button>
						<button id="follow" class="no-button bg-lightgray mt-2 pt-1 w-100"><i class="fas fa-heart"></i> Add to wishlist</button>	
					</div>
				</div>

				<div class="col-12 pt-5 preview-game bg-lightgray">
					<div class="w-100 d-flex list-items">
						<div class="col-4">
							<div class="preview-item" style="background:url(assets/img/detail/preview1.jpg)"></div>
						</div>
						<div class="col-4">
							<div class="preview-item" style="background:url(assets/img/detail/preview2.jpg)"></div>
						</div>
						<div class="col-4">
							<div class="preview-item" style="background:url(assets/img/detail/preview3.jpg)"></div>
						</div>
					</div>
					<div class="list-preview">
						<ul class="d-flex justify-content-center m-0">
							<li class="px-3"><div class="bullet"></div></li>
							<li class="px-3"><div class="bullet"></div></li>
							<li class="px-3"><div class="bullet"></div></li>
						</ul>
					</div>
				</div>

				<div class="d-flex pt-4 bg-lightgray">
					<div class="col-8">
						<div class="text-uppercase header-text">about this game</div>
						<div>Lorem ipsum dolor sit amet</div>
						<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in.
						<br><br>
						Reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<button class="btn btn-primary float-right">See More</button>
					</div>
					<div class="col-4 pt-5">
						<div class="d-flex">
							<div class="col-3">
								Developer
							</div>
							<div class="col-6">
								CubeClub
							</div>
						</div>
						<div class="d-flex">
							<div class="col-3">
								Published
							</div>
							<div class="col-6">
								5 days ago
							</div>
						</div>
						<div class="d-flex">
							<div class="col-3">
								Status
							</div>
							<div class="col-6">
								Released
							</div>
						</div>
						<div class="d-flex">
							<div class="col-3">
								Genre
							</div>
							<div class="col-6">
								Strategy
							</div>
						</div>
						<div class="d-flex">
							<div class="col-3">
								Tags
							</div>
							<div class="col-6">
								2D, Singleplayer
							</div>
						</div>		
					</div>
				</div>

				<div class="w-100 pt-4 d-flex bg-lightgray">
					<div class="col-7">
						<div class="text-uppercase header-no-border">system requirements</div>
						<div class="tab-OS d-flex pt-3 header-text">
							<div id="tab-windows" class="text-uppercase px-4 py-3 os-tab active" onclick="switchOS('windows')">windows</div>
							<div id="tab-macos" class="text-uppercase px-4 py-3 os-tab" onclick="switchOS('macos')">mac os</div>
							<div id="tab-linux" class="text-uppercase px-4 py-3 os-tab" onclick="switchOS('linux')">linux</div>
						</div>
						<section id="desc-windows" class="w-100 pt-3 os-description active">
							<div class="w-50 pr-5">
								<p class="text-uppercase">minimum</p>
								<p>OS</p>
								<p>64-bit Windows 7, 62-bit Windows 8(8.1) or 64-bit Windows 10</p>
								<p>Processor</p>
								<p>Intel CPU Core i5-2500K 3.3GHz / AMD CPU Phenom II X4 940</p>
								<p>Memory</p>
								<p>6 GB RAM</p>
								<p>Graphics</p>
								<p>Nvidia GPU GeForce GTX 660 / AMD GPU Radeon HD 7870</p>
								<p>Storage</p>
								<p>35 GB available space</p>
							</div>
							<div class="w-50">
								<p class="text-uppercase">recommended</p>
								<p>OS</p>
								<p>64-bit Windows 7, 62-bit Windows 8(8.1) or 64-bit Windows 10</p>
								<p>Processor</p>
								<p>Intel CPU Core i7-3770 3.3GHz / AMD CPU AMD FX-8350 4Ghz </p>
								<p>Memory</p>
								<p>8 GB RAM</p>
								<p>Graphics</p>
								<p>Nvidia GPU GeForce GTX 660 / AMD GPU Radeon HD 7870</p>
								<p>Storage</p>
								<p>35 GB available space</p>
							</div>
						</section>
						<section id="desc-macos" class="w-100 pt-3 os-description">
							<div class="w-50 pr-5">
								<p class="text-uppercase">minimum</p>
								<p>OS</p>
								<p>64-bit Windows 7, 62-bit Windows 8(8.1) or 64-bit Windows 10</p>
								<p>Processor</p>
								<p>Intel CPU Core i5-2500K 3.3GHz / AMD CPU Phenom II X4 940</p>
								<p>Memory</p>
								<p>6 GB RAM</p>
								<p>Graphics</p>
								<p>Nvidia GPU GeForce GTX 660 / AMD GPU Radeon HD 7870</p>
								<p>Storage</p>
								<p>35 GB available space</p>
							</div>
							<div class="w-50">
								<p class="text-uppercase">recommended</p>
								<p>OS</p>
								<p>64-bit Windows 7, 62-bit Windows 8(8.1) or 64-bit Windows 10</p>
								<p>Processor</p>
								<p>Intel CPU Core i7-3770 3.3GHz / AMD CPU AMD FX-8350 4Ghz </p>
								<p>Memory</p>
								<p>8 GB RAM</p>
								<p>Graphics</p>
								<p>Nvidia GPU GeForce GTX 660 / AMD GPU Radeon HD 7870</p>
								<p>Storage</p>
								<p>35 GB available space</p>
							</div>
						</section>
						<section id="desc-linux" class="w-100 pt-3 os-description">
							<div class="w-50 pr-5">
								<p class="text-uppercase">minimum</p>
								<p>OS</p>
								<p>64-bit Windows 7, 62-bit Windows 8(8.1) or 64-bit Windows 10</p>
								<p>Processor</p>
								<p>Intel CPU Core i5-2500K 3.3GHz / AMD CPU Phenom II X4 940</p>
								<p>Memory</p>
								<p>6 GB RAM</p>
								<p>Graphics</p>
								<p>Nvidia GPU GeForce GTX 660 / AMD GPU Radeon HD 7870</p>
								<p>Storage</p>
								<p>35 GB available space</p>
							</div>
							<div class="w-50">
								<p class="text-uppercase">recommended</p>
								<p>OS</p>
								<p>64-bit Windows 7, 62-bit Windows 8(8.1) or 64-bit Windows 10</p>
								<p>Processor</p>
								<p>Intel CPU Core i7-3770 3.3GHz / AMD CPU AMD FX-8350 4Ghz </p>
								<p>Memory</p>
								<p>8 GB RAM</p>
								<p>Graphics</p>
								<p>Nvidia GPU GeForce GTX 660 / AMD GPU Radeon HD 7870</p>
								<p>Storage</p>
								<p>35 GB available space</p>
							</div>
						</section>
					</div>
					<div class="col-5">
						<div class="header-text">Other Recommend Game</div>
						<div class="col-12 pt-3">
							<div class="w-100 other-game" style="background:url(assets/img/detail/other1.jpg)" onclick="detailPage('undifine')">
								<div class="w-100 h-75"></div>
								<div class="w-100 h-25 description">
									<div class="detail-game px-3">
										<p class="text-right">Nelke & the Legendary Alchemists ~Ateliers of the New World~</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 pt-3">
							<div class="w-100 other-game" style="background:url(assets/img/detail/other2.jpg)" onclick="detailPage('undifine')">
								<div class="w-100 h-75"></div>
								<div class="w-100 h-25 description">
									<div class="detail-game px-3">
										<p class="text-right">AzurLane Crosswave</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 pt-3">
							<div class="w-100 other-game" style="background:url(assets/img/detail/other3.jpg)" onclick="detailPage('undifine')">
								<div class="w-100 h-75"></div>
								<div class="w-100 h-25 description">
									<div class="detail-game px-3">
										<p class="text-right">Danganronpa V3 : Killing Harmony</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>

			<section class="type-page active"> <!-- Desain Game 1 -->
				<div class="banner-game" style="background:url(assets/img/detail/background.jpg)">
					<div class="background-banner">
						<div class="h-50">
							<div class="col-1 h-100">
								<div class="w-50 h-50 d-flex justify-content-center bg-white rounded">
									<i class="fas fa-power-off logo-back pb-2" onclick="backHome()"></i>
								</div>
							</div>
						</div>
						<div class="h-50 title-game">
							<div class="col-12">
								<div class="compatible">
									<i class="fab fa-windows"></i>
								</div>
								<div class="header">Mary Skelter 2</div>
								<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</div>
								<div class="col-6 pl-0 pt-2">
									<div class="d-flex">
										<button id="owned" class="btn btn-primary mr-1" (click)="installGame()">Install</button>
										<button id="follow" class="btn btn-primary ml-1"><i class="fas fa-heart"></i> Add to wishlist</button>	
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
	
					<div class="d-flex pt-4 bg-lightgray">
						<div class="col-8">
							<div class="text-uppercase header-text">about this game</div>
							<div>Lorem ipsum dolor sit amet</div>
							<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in.
							<br><br>
							Reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<button class="btn btn-primary float-right">See More</button>
						</div>
						<div class="col-4 pt-5">
							<div class="d-flex">
								<div class="col-3">
									Developer
								</div>
								<div class="col-6">
									CubeClub
								</div>
							</div>
							<div class="d-flex">
								<div class="col-3">
									Published
								</div>
								<div class="col-6">
									5 days ago
								</div>
							</div>
							<div class="d-flex">
								<div class="col-3">
									Status
								</div>
								<div class="col-6">
									Released
								</div>
							</div>
							<div class="d-flex">
								<div class="col-3">
									Genre
								</div>
								<div class="col-6">
									Strategy
								</div>
							</div>
							<div class="d-flex">
								<div class="col-3">
									Tags
								</div>
								<div class="col-6">
									2D, Singleplayer
								</div>
							</div>		
						</div>
					</div>
	
					<div class="col-12 pt-4 preview-game bg-lightgray">
						<div class="w-100 d-flex list-items">
							<div class="col-4">
								<div class="preview-item" style="background:url(assets/img/detail/preview1.jpg)"></div>
							</div>
							<div class="col-4">
								<div class="preview-item" style="background:url(assets/img/detail/preview2.jpg)"></div>
							</div>
							<div class="col-4">
								<div class="preview-item" style="background:url(assets/img/detail/preview3.jpg)"></div>
							</div>
						</div>
						<div class="list-preview">
							<ul class="d-flex justify-content-center m-0">
								<li class="px-3"><div class="bullet"></div></li>
								<li class="px-3"><div class="bullet"></div></li>
								<li class="px-3"><div class="bullet"></div></li>
							</ul>
						</div>
					</div>
	
					<div class=" w-100 pt-4 d-flex bg-lightgray">
						<div class="col-7">
							<div class="text-uppercase header-no-border">System requirements</div>
							<div class="tab-OS d-flex pt-3 header-text">
								<div id="tab-windows" class="text-uppercase px-4 py-3 os-tab active" onclick="switchOS('windows')">windows</div>
								<div id="tab-macos" class="text-uppercase px-4 py-3 os-tab" onclick="switchOS('macos')">mac os</div>
								<div id="tab-linux" class="text-uppercase px-4 py-3 os-tab" onclick="switchOS('linux')">linux</div>
							</div>
							<section id="desc-windows" class="w-100 pt-3 os-description active">
								<div class="w-50 pr-5">
									<p class="text-uppercase">minimum</p>
									<p>OS</p>
									<p>64-bit Windows 7, 62-bit Windows 8(8.1) or 64-bit Windows 10</p>
									<p>Processor</p>
									<p>Intel CPU Core i5-2500K 3.3GHz / AMD CPU Phenom II X4 940</p>
									<p>Memory</p>
									<p>6 GB RAM</p>
									<p>Graphics</p>
									<p>Nvidia GPU GeForce GTX 660 / AMD GPU Radeon HD 7870</p>
									<p>Storage</p>
									<p>35 GB available space</p>
								</div>
								<div class="w-50">
									<p class="text-uppercase">recommended</p>
									<p>OS</p>
									<p>64-bit Windows 7, 62-bit Windows 8(8.1) or 64-bit Windows 10</p>
									<p>Processor</p>
									<p>Intel CPU Core i7-3770 3.3GHz / AMD CPU AMD FX-8350 4Ghz </p>
									<p>Memory</p>
									<p>8 GB RAM</p>
									<p>Graphics</p>
									<p>Nvidia GPU GeForce GTX 660 / AMD GPU Radeon HD 7870</p>
									<p>Storage</p>
									<p>35 GB available space</p>
								</div>
							</section>
							<section id="desc-macos" class="w-100 pt-3 os-description">
								<div class="w-50 pr-5">
									<p class="text-uppercase">minimum</p>
									<p>OS</p>
									<p>64-bit Windows 7, 62-bit Windows 8(8.1) or 64-bit Windows 10</p>
									<p>Processor</p>
									<p>Intel CPU Core i5-2500K 3.3GHz / AMD CPU Phenom II X4 940</p>
									<p>Memory</p>
									<p>6 GB RAM</p>
									<p>Graphics</p>
									<p>Nvidia GPU GeForce GTX 660 / AMD GPU Radeon HD 7870</p>
									<p>Storage</p>
									<p>35 GB available space</p>
								</div>
								<div class="w-50">
									<p class="text-uppercase">recommended</p>
									<p>OS</p>
									<p>64-bit Windows 7, 62-bit Windows 8(8.1) or 64-bit Windows 10</p>
									<p>Processor</p>
									<p>Intel CPU Core i7-3770 3.3GHz / AMD CPU AMD FX-8350 4Ghz </p>
									<p>Memory</p>
									<p>8 GB RAM</p>
									<p>Graphics</p>
									<p>Nvidia GPU GeForce GTX 660 / AMD GPU Radeon HD 7870</p>
									<p>Storage</p>
									<p>35 GB available space</p>
								</div>
							</section>
							<section id="desc-linux" class="w-100 pt-3 os-description">
								<div class="w-50 pr-5">
									<p class="text-uppercase">minimum</p>
									<p>OS</p>
									<p>64-bit Windows 7, 62-bit Windows 8(8.1) or 64-bit Windows 10</p>
									<p>Processor</p>
									<p>Intel CPU Core i5-2500K 3.3GHz / AMD CPU Phenom II X4 940</p>
									<p>Memory</p>
									<p>6 GB RAM</p>
									<p>Graphics</p>
									<p>Nvidia GPU GeForce GTX 660 / AMD GPU Radeon HD 7870</p>
									<p>Storage</p>
									<p>35 GB available space</p>
								</div>
								<div class="w-50">
									<p class="text-uppercase">recommended</p>
									<p>OS</p>
									<p>64-bit Windows 7, 62-bit Windows 8(8.1) or 64-bit Windows 10</p>
									<p>Processor</p>
									<p>Intel CPU Core i7-3770 3.3GHz / AMD CPU AMD FX-8350 4Ghz </p>
									<p>Memory</p>
									<p>8 GB RAM</p>
									<p>Graphics</p>
									<p>Nvidia GPU GeForce GTX 660 / AMD GPU Radeon HD 7870</p>
									<p>Storage</p>
									<p>35 GB available space</p>
								</div>
							</section>
						</div>
						<div class="col-5">
							<div class="header-text">Other Recommend Game</div>
							<div class="col-12 pt-3">
								<div class="w-100 other-game" style="background:url(assets/img/detail/other1.jpg)" onclick="detailPage('undifine')">
									<div class="w-100 h-75"></div>
									<div class="w-100 h-25 description">
										<div class="detail-game px-3">
											<p class="text-right">Nelke & the Legendary Alchemists ~Ateliers of the New World~</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 pt-3">
								<div class="w-100 other-game" style="background:url(assets/img/detail/other2.jpg)" onclick="detailPage('undifine')">
									<div class="w-100 h-75"></div>
									<div class="w-100 h-25 description">
										<div class="detail-game px-3">
											<p class="text-right">AzurLane Crosswave</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 pt-3">
								<div class="w-100 other-game" style="background:url(assets/img/detail/other3.jpg)" onclick="detailPage('undifine')">
									<div class="w-100 h-75"></div>
									<div class="w-100 h-25 description">
										<div class="detail-game px-3">
											<p class="text-right">Danganronpa V3 : Killing Harmony</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

		</div>
	</div>
</body>


